.post {
  background-color: var(--card-background);
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.post h1 {
  font-size: 1.3em;
  margin-bottom: 1rem;
}

.post img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: top;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.post p {
  text-align: justify;
  text-indent: 40px;
}

.tags {
  align-self: flex-end;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.tags p {
  font-weight: bold;
}
