.background {
  position: fixed;
  inset: 0;
  transform: translateY(-100%);
  background-color: rgba(0, 0, 0, 0.541);
  z-index: 10000;
}

.active {
  transform: translateY(0%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--card-background);
  padding: 1rem;
  border-radius: 10px;
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  color: var(--secondary-color);
  border: 1px solid var(--inputSearch-color);
}

.modal button svg {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 20px;
  color: var(--secondary-color);
}
