.socials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 115px;
  transition: color 1s;
}

.socials svg {
  transition: all 0.3s;
  position: relative;
}

.socials svg:hover {
  color: var(--logo-color);
}

.socials span::before {
  content: '';
  background-color: var(--logo-color);
  width: 17px;
  height: 2px;
  position: absolute;
  bottom: 0;
  transition: all 0.3s ease;
  opacity: 0;
}

.socials span:hover::before {
  opacity: 1;
}
